* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
}

header {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.342);
  padding: 10px 0;
  box-shadow: 0px 0px 20px rgba(172, 131, 97, 0.637);
  margin-top: 4%;
}

.header-nav__list {
  color: rgba(0, 0, 0, 0.856);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 30px;
}

.header-nav__list:hover {
  color: white;
}

section img {
  width: 80%;
  max-height: 600px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption__h5 {
  font-size: 3rem;
  color: rgba(135, 101, 230, 0.993);
  letter-spacing: -2px;
}

.carousel-caption__p {
  font-size: 1.7rem;
  color: rgba(255, 0, 0, 0.747);
}

.herren {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
  background-color: #eee;
}

.herren-text {
  padding: 1rem 0;
}

.herren-text__p {
  font-size: 1.4rem;
}

.paypal-buttom input {
  padding: 1rem 0;
  max-width: 150px;
}

.herren-gruppe {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.herren__img {
  border-radius: 5PX;
  width: 100%;
  height: 22rem;
}

.herren-a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.513);
}

.herren-tshirt {
  background-color: white;
  position: relative;
}

.herren-tshirt::after {
  content: "\f004";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  top: 1rem;
  right: 20px;
  color: gray;
  font-size: 1.7rem;
  cursor: pointer;
}

.herren-text__h2 {
  color: coral;
}

.herren-gruppe__sup {
  color: red;
  font-size: 1.5rem;
}

.herren-text__h2:hover, .herren-a:hover {
  color: rgb(135, 222, 186);
}

.fa-circle {
  font-size: 1.2rem;
  padding: 0 0.4rem;
}

.fa-circle:hover {
  border: 3px solid rgb(171, 30, 30);
  background-color: rgba(206, 203, 198, 0.441);
}

.fa-circle1 {
  color: black;
}

.fa-circle2 {
  color: rgba(225, 204, 204, 0.376);
}

.fa-circle3 {
  color: coral;
}

.fa-circle4 {
  color: red;
}

.fa-circle5 {
  color: blue;
}

.herren-gruppe__span {
  font-size: 1.5rem;
  color: rgba(0, 0, 139, 0.752);
}

footer {
  width: 100%;
  box-shadow: 0 0 20px rgba(25, 109, 235, 0.527);
  background-color: rgba(211, 211, 211, 0.89);
  text-align: center;
}

.footer-liste__a {
  text-decoration: none;
  color: black;
}

.footer-icons__a {
  color: rgba(0, 0, 0, 0.681);
  padding: 0 10px;
}

.footer-icons__a:hover, .footer-liste__a:hover {
  color: white;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-h1 {
  color: coral;
  font-weight: 900;
  letter-spacing: -4px;
  word-spacing: 4px;
  text-shadow: 1px 1px 2px rgba(255, 200, 0, 0.801);
}

.link {
  padding: 0 0.9rem;
  color: gray;
}

.link:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 355px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .header-nav__liste {
    display: flex;
    flex-direction: column;
  }
  .header-nav__list {
    font-size: 1.3rem;
    padding: 5px;
  }
  .section-title {
    color: rgba(241, 67, 23, 0.897);
    font-weight: 900;
    position: absolute;
    top: 14rem;
    left: 1.5rem;
  }
  section img {
    max-height: 170px;
    object-fit: cover;
  }
  .herren {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .herren-gruppe {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .herren-text {
    width: 100%;
  }
  .herren-text__h2 {
    font-size: 1rem;
  }
  .paragraph-herren {
    font-size: 13px;
    color: gray;
  }
  .fa-circle {
    font-size: 1.2rem;
    padding: 0 0.2rem;
  }
  .paypal-buttom input {
    padding: 1rem 0;
    max-width: 100px;
  }
}
@media (min-width: 356px) and (max-width: 700px) {
  .nav-h1 {
    font-size: 1rem;
    color: rgba(255, 127, 80, 0.596);
    font-weight: 900;
    letter-spacing: 1px;
  }
  .link {
    padding: 5px;
    font-size: 0.6rem;
  }
  .header-nav__list {
    font-size: 1rem;
    text-align: center;
    padding: 7px;
  }
  section img {
    max-height: 300px;
    object-fit: cover;
  }
  .herren {
    padding: 0.3rem;
  }
  .paypal-buttom input {
    padding: 1rem 0;
    max-width: 100px;
  }
  .herren-gruppe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }
}
@media (min-width: 356px) and (max-width: 500px) {
  section img {
    max-height: 200px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
