.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.897);
    z-index: 5;
}
.nav-h1{
    color: coral;
    font-weight: 900;
    letter-spacing: -4px;
    word-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(255, 200, 0, 0.801);
}
.link {
    padding: 0 0.9rem;
    color: gray;
}
.link:hover {
    color:rgb(255, 255, 255) ;
}
@media  (max-width:355px) {
    .nav-bar{
           display: flex;
           flex-direction: column;
       padding: 0;
    }
    .rigth-icons .link {
          font-size: 0.6rem;
          padding: 0;
    }
    }
    // 356 bis 700
    @media  (min-width:356px) and (max-width:700px) {
        .nav-h1{
            font-size: 1rem;
            color: rgba(255, 127, 80, 0.596);
            font-weight: 900;
            letter-spacing: 1px;
            }
            .link {
                padding: 5px;
          font-size: 0.6rem;
                
          }
        }