@media  (max-width:355px) {
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
.section-title {
        color: rgba(241, 67, 23, 0.897);
        font-weight: 900;
        position: absolute;
        top: 14rem;
        left: 1.5rem;   
    }
section img{
        max-height: 90px;
        object-fit: cover;
    }
}
// 356 bis 700
@media  (min-width:356px) and (max-width:700px) {
    section img{
        max-height: 300px;
        object-fit: cover;
    }
}