section img{
    width: 80%;
    max-height: 700px;
    object-fit: cover;
    object-position: top;
}
@media  (max-width:355px) {
    .section-title {
            color: rgba(241, 67, 23, 0.897);
            font-weight: 900;
            position: absolute;
            top: 14rem;
            left: 1.5rem;   
        }
    section img{
            max-height: 90px;
            object-fit: cover;
        }
    }
    // 356 bis 700
    @media  (min-width:356px) and (max-width:700px) {
        section img{
            max-height: 300px;
            object-fit: cover;
        }
    }